.modal-container {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
    display: none;
    align-items: center;
}

.modal-container.ativo {
    display: flex;
}

.ativo .modal {
    animation: modal .3s forwards;
}
.modal {
    background-color: var(--cor-branco);
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #00000007;
    position: relative;
    min-height: 300px;
    width: 600px;
}

.close {
    position: absolute;
    top: 10px;
    right:  10px;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: var(--font-ativo);
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: .2s;
}

.close:hover {
    border-color: #000;
}

.modal label {
    display: block;
    font-family: var(--font-texto);
    font-weight: 500;
    margin: 15px 0 10px 0;
    font-size: 1.3rem;
}

.modal input {
    background-color: #F1F1F1;
    width: 100%;
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: .3s;
}

.modal input:hover {
    background-color: #e2e2e2;
}

.modal input:focus {
    background-color: #e2e2e2;
    border: 2px solid #777777;
}

.modal button[type="submit"] {
    background-color: var(--cor-principal);
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.3rem;
    transition: .3s;
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--font-ativo);
}

.modal button[type="submit"]:hover {
    background-color: #eccf2a;
}

.info-confirm {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-confirm span{
    font-family: var(--font-ativo);
    font-weight: 700;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0,-30px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0); 
    }
}

#cart-modal {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
    display: flex;
    align-items: center;
}

.modal-content {
    background-color: var(--cor-branco);
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #00000007;
    position: relative;
    min-height: 300px;
    width: 600px;
    overflow: hidden; 
    margin: 100px auto;
}

.modal-content .closeM {
    cursor: pointer;
    font-size: 2.5rem;
    font-family: var(--font-ativo);
    transition: .1s;
    position: absolute;
    right: 30px;
    top: 10px;
}

.modal-content .closeM:hover {
    color: #949494;
}

.modal-content h2 {
    padding-bottom: 35px;
}

#cart-items {
    max-height: 250px; 
    overflow-y: auto;
}

.cart-item p {
    font-size: .7rem;
}

.cart-item .price {
    font-size: 1.3rem;
    padding-bottom: 10px;
}

.cart-item {
    text-align: center;
    padding-bottom: 15px;
}

.cart-item h3 {
    font-size: 1.2rem;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-total .total {
    font-weight: 600;
    font-size: 1.3rem;
}

.cart-total button {
    background-color: var(--cor-principal);
    padding: 8px 25px;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--font-ativo);
    border-radius: 5px;
    transition: .2s;
}

.cart-total button:hover {
    background-color: #eccf2a;
}

.remove-item {
    font-weight: 700;
    padding-bottom: 10px;
}

.modal-content form label {
    font-size: 1.2rem;
    font-weight: 500;
}

.modal-content form input {
    width: 100%;
    display: block;
    margin-top: 5px;
    background-color: #f8f8f8;
    padding: 5px 10px;
    font-size: 1.2rem;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: .2s;
} 

.modal-content form input:hover {
    border-color: var(--cor-principal);
    background-color: #eee;
}

.modal-content form input:focus {
    border-color: var(--cor-principal);
    background-color: #eee;
} 

.label-inputs {
    display: flex;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    padding-top: 20px;
    padding-bottom: 5px;
}

.input-group input {
    padding: 5px;
    margin-bottom: 15px;
}

.input-group select {
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    font-family: var(--font-ativo);
    font-weight: 500;
    transition: border-color 0.3s, box-shadow 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.input-group select:focus {
    border-color: var(--cor-principal);
    outline: none;
}

.input-group select option {
    font-family: var(--font-ativo);
    font-size: 1rem;
}

#final-shop {
    padding: 10px 25px;
    background-color: var(--cor-principal);
    margin: 30px auto;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    font-family: var(--font-ativo);
    display: flex;
    transition: .2s;
}

#final-shop:hover {
    background-color: #ecb82a;
}